services:
  app-web:
    build: .          # Dockerfile Path
    container_name: servidor-web
    ports:
      - "8080:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
    restart: always