services:
  app-web:
    build: .          # Dockerfile Path
    container_name: web-server
    ports:
      - "8080:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
    restart: always

  
  db:
    image: mariadb:10.6
    container_name: db-server
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: password123
      MARIADB_DATABASE: usuarios_app
    volumes: 
      - mysql-data:/var/lib/mysql


volumes:
 mysql-data: