services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: proxy-manager
    restart: unless-stopped
    ports:
      - '80:80' # Standard HTTP
      - '81:81' # Administration Proxy Manager Panel
      - '443:443' # HTTPS
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt


  app-web:
    build: .          # Dockerfile Path
    container_name: web-server
    restart: always
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
    

  
  db:
    image: mariadb:11.4.9
    container_name: db-server
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: password123
      MARIADB_DATABASE: app_users
    volumes: 
      - mysql-data:/var/lib/mysql
 

  # Monitoring
  dozzle:
    image: amir20/dozzle:latest
    container_name: utils-dozzle
    restart: unless-stopped
    volumes:
     - /var/run/docker.sock:/var/run/docker.sock:ro # Allow to read all container logs 

    ports:
     - 8888:8080



  backup-db:
    image: prodrigetivill/mysql-backup-local
    container_name: utils-db-backup
    restart: unless-stopped

    volumes:
     - ./backups:/backups

    depends_on: 
     - db-server

    environment:
     - MYSQL_HOST=db-server
     - MYSQL_PORT=3306
     - MYSQL_USER=root
     - MYSQL_PASSWORD=password123
     - SCHEDULER_AT=03:00  # time to do backups
     - BACKUP_KEEP_DAYS=7  # delete old backups (since 7 days)
     - BACKUP_DIR=/backups



  # ad-block
  adguard:
    image: adguard/adguardhome
    container_name: utils-adguard
    restart: unless-stopped
    ports:
      - "53:53/tcp"   # DNS
      - "53:53/udp"   # DNS
      - "3000:3000"   # admin panel (port 3000)
    volumes:
      - ./adguard-data:/opt/adguardhome/work
      - ./adguard-config:/opt/adguardhome/conf





volumes:
 mysql-data:
