services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: proxy-manager
    restart: unless-stopped
    ports:
      - '80:80' # Entrada HTTP estándar
      - '81:81' # Panel de administración del Proxy
      - '443:443' # Entrada HTTPS
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt


  app-web:
    build: .          # Dockerfile Path
    container_name: web-server
    restart: always
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
    

  
  db:
    image: mariadb:10.6
    container_name: db-server
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: password123
      MARIADB_DATABASE: app_users
    volumes: 
      - mysql-data:/var/lib/mysql
 

volumes:
 mysql-data:
